#appMenu {
    display: grid;
    grid-template-columns: 250px 1fr;
}
#menu {
    margin-top: 90px;
    height: 110%;
    background-color: rgba(255, 166, 200, 0.589);
    display: flex;
    flex-direction: column;
    font-size: 25px;
}
#menu a {
    margin-left: 20px;
    margin-bottom: 20px;
}
#menu a:nth-child(1) {
    margin-left: 33%;
    margin-bottom: 40px;
}
#menu img {
    width: 80px;
    height: 80px;
}

#app {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 35px;
    z-index: -1;

    display: flex;
    flex-direction: column;
}
#app img {
    filter: brightness(100%);
    object-fit: fill;
    background-color: rgb(100, 100, 100);
    animation-name: wave;
    animation-duration: 3s;
    animation-iteration-count: 5;
    animation-direction: reverse;
}
#app div {
    padding: 5px;
    filter: brightness(100%);
    background-color: rgba(255, 187, 0, 0.7);
}
#app div h1 {
    margin-left: 10px;
}
#all {
    width: 100%;
    height: 100%;
}
#tocenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

header {
    /*background-color: rgba(255, 187, 0, 0.5);*/
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

header #alist {
    /*background-color: rgba(255, 187, 0, 0.8);*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    font-size: 20px;
}
header #alist a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
}

@media screen and (max-width: 900px) {
    #app div {
        filter: opacity(10%);
        background-color: transparent;
    }
}
@keyframes wave {
    0% {
        background-color: yellow;
        width: 20%;
        height: 20%;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}
