.profile {
    overflow-y: hidden;
    background-color: rgb(9, 230, 232);
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.profile #right {
    margin-left: 10%;
    margin-top: 3%;
}
#right h2 {
    margin-bottom: 15px;
}
.profile p {
    font-size: 30px;
}
.profile #profilePicture {
    cursor: pointer;
    border-bottom: 0px;
    background-color: transparent;
    margin: 2%;
}
.profile .profile-picture {
    margin-left: 0%;
    background-color: white;
    height: 300px;
    width: 300px;
    border: 0px;
}
