.profile {
    background-color: rgb(9, 230, 232);
    width: 70%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.profile #right {
    background-color: rgb(9, 230, 232);
    overflow: hidden;
    margin-left: -40%;
    margin-top: 3%;
}
#right h2 {
    margin-bottom: 15px;
}
.profile p {
    font-size: 30px;
}
.profile #profilePicture {
    cursor: pointer;
    border-bottom: 0px;
    background-color: transparent;
    margin: 2%;
}
.profile .profile-picture {
    margin-left: 0%;
    background-color: white;
    height: 300px;
    width: 300px;
    border: 0px;
}
@media screen and (max-width: 1430px) {
    .profile {
        width: 45%;
    }
    .profile #right {
        text-align: left;
        margin-left: -1%;
    }
    .profile #right div textarea {
        width: 100px;
        height: 150px;
    }
}
@media screen and (max-width: 1000px) {
    .profile {
        margin-top: 50px;
        overflow-y: scroll;
        width: 55%;
        height: 60vh;
        flex-wrap: wrap;
    }
    .profile #right {
        background-color: rgb(9, 230, 232);
        overflow: hidden;
        margin-left: 2%;
        width: 300px;
        height: 250px;
    }
    .profile #right h2 {
        margin-left: 3%;
    }
    .profile #right div {
        margin-left: 2%;
    }
    .profile #right div textarea {
        width: 280px;
        height: 150px;
    }
}
