#reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
#reset h2 {
    margin-bottom: 0px;
}
.resetPassword {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.resetPassword input {
    width: 250px;
    margin-bottom: 10px;
}

.resetPassword button {
    margin-top: 5px;
    width: 80px;
    border: 3px solid black;
    background-color: chocolate;
}
.errorstep1 {
    margin-top: -10px;
    color: red;
    margin-bottom: -10px;
}
.error {
    margin-top: 10px;
    color: red;
    margin-bottom: -30px;
}
