#welcome {
    background-color: burlywood;
    border: 3px solid black;
    width: 800px;
    height: 95vh;
    display: flex;
    margin-left: 25%;
    flex-direction: column;
    align-items: center;
}
#welcome img {
    width: 40%;
}
